HERE IS YOUR CART:
<br>
<table class="table table-striped">
  <tr>
    <th>DIY Tutorial</th>
    <th>Quantity</th>
    <th></th>
    <th>Price</th>
  </tr>
  {{# each items }}
  <tr>
    <td><h4>{{ this.product.name }}</h4></td>
    <td><h4 class="qty">{{input type="number" size="5" value=quantity}}</h4><br></td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" {{ action "more" this }}>
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="btn btn-default btn-sm" {{ action "less" this }}>
          <span class="glyphicon glyphicon-minus">
        </button>
      </div>
    </td>
    <td><h4>${{ item-subtotal this.product.price quantity }}</h4></td>
  </tr>
  {{/ each }}
  <tr>
    <td></td>
    <td></td>
    <td>TOTAL: </td>
    <td><h4>${{ format-price this.total }}</h4></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
{{# link-to 'checkout'}}
<button type="button" class="btn btn-info btn-lg btn-block">
  <span class="glyphicon glyphicon-shopping-cart"></span>Checkout
</button>
{{ / link-to}}